
a:link
{
    color: lavender;
}

a:visited
{
   color: lavender;
}

a:hover
{
    font-size: 40pt;
}



body
{
    font-family: Comic Sans MS;
    color: white;
    background-color: black;


    background-image: url('Back.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.Bottom
{
    text-align: center;

    font-size: 30pt;
}


.List
{
    margin: 10pt;

    font-size: 30pt;
}

.Main
{
    margin-left: auto;
    margin-right: auto;

    padding: 40px;

    border: 10px solid aqua;

    width: 700px;

    background-color: grey;

}

.Paragraph
{
    font-size: 25pt;
}

.Title
{
    color: blue;

    text-align: center;

    
    font-size: 40pt;
}

img
{
    float: left;

    width: 200px;
    height: 200px;
}




